.pontos {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pontos-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pontos-paginacao {
    display: flex;
    justify-content: space-between;
}

.pontos-mensagem {
    align-self: center;
    justify-self: center;
}